.btn {
  border-radius: var(--border-rounded);
  border: none;
  color: var(--color-white);
  cursor: pointer;
  padding: 1rem 2rem;
  transition: all 250ms ease;

  &--blue {
    background-color: var(--color-blue-400);

    &:hover {
      background-color: var(--color-blue-500);
    }
  }

  &--disabled {
    background-color: var(--color-green-300);
  }

  &--green {
    background-color: var(--color-green-400);

    &:hover {
      background-color: var(--color-green-500);
    }
  }

  &--red {
    background-color: var(--color-red-300);

    &:hover {
      background-color: var(--color-red-400);
    }
  }

  &--floating {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-orange-400);
    border-radius: var(--border-circle);
    border: none;
    box-shadow: 0 0.125rem 0.75rem 0px var(--color-gray-400);
    cursor: pointer;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    transition: all 250ms ease-in-out;
    height: 5rem;
    width: 5rem;

    @media (min-width: $media-sm) {
      bottom: 4rem;
      right: 4rem;
    }

    &:hover {
      transform: scale(1.1);
    }

    svg {
      display: block;
      width: 2rem;
    }
  }
}
