.card {
  background-color: var(--color-gray-300);
  border-radius: var(--border-rounded);
  margin-bottom: 1rem;
  padding: 1rem;

  &__btn {
    display: inline-flex;
    align-items: center;
    border-radius: var(--border-rounded);
    border: none;
    color: var(--color-white);
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: all 250ms ease;
    background-color: var(--color-red-300);

    &:hover {
      background-color: var(--color-red-400);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    &__img {
      border-radius: var(--border-circle);
      width: 3rem;
      height: 3rem;

      &__wrapper {
        display: flex;
        position: relative;
        cursor: pointer;
        margin-right: 0.5rem;

        svg {
          fill: var(--color-red-300);
          color: var(--color-white);
          font-weight: bold;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate3d(-50%, -50%, 0);
          visibility: hidden;
          width: 2rem;
        }

        &:hover {
          opacity: 0.8;

          svg {
            visibility: visible;
          }
        }
      }
    }
  }

  &__title {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
  }

  &__subtitle {
    color: var(--color-gray-500);
    font-size: 0.75rem;
  }

  &__row {
    color: var(--color-gray-500);
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    img {
      display: block;
      margin-right: 0.5rem;
      width: 1.5rem;
      align-self: flex-start;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
