.modal {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: var(--border-rounded);
  padding: 1rem;
  position: fixed;
  left: 10vw;
  top: 10vh;
  height: 80vh;
  width: 80vw;

  &__overlay {
    background-color: var(--color-gray-500-25);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid var(--color-gray-300);
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    &__title {
      font-size: 2rem;
    }

    &__icon {
      cursor: pointer;
      transition: all 250ms ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__body {
    flex-grow: 1;
    overflow-y: auto;
  }

  &__footer {
    flex-shrink: 0;

    button {
      margin-right: 1rem;
    }
  }
}
