* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  //colors
  --color-black: #000;
  --color-blue-500: #2980b9;
  --color-gray-300: #ccc;
  --color-gray-500: #999;
  --color-green-500: #27ae60;
  --color-red-300: #ff4500;
  --color-red-500: #c0392b;
  --color-white: #fff;

  //border
  --border-rounded: 0.5rem;
}

@import "./components/btn.scss";
@import "./components/container.scss";
@import "./components/divider.scss";
@import "./components/input.scss";
@import "./components/modal.scss";
